fastapi==0.75.0
pydantic==1.9.0
SQLAlchemy==1.4.32
starlette==0.17.1
uvicorn==0.17.6
cryptography<=36.0.2
pymysql<=1.0.2
jinja2<=3.1.0
elasticsearch~=8.1.1
requests~=2.27.1
numpy~=1.22.3
pandas~=1.4.1