div {
    /*border: #0a53be solid 1px;*/
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.course {
    height: auto;
    width: 350px;
    /*width: 28%;*/
    margin: 10px;
    border-radius: 20px;
    box-shadow: #0dcaf0 0px 0px 10px;
    display: none;
}

.score {
    font-size: 20px;
    color: #fd7e14;
    text-align: center;

}

.course_name {
    font-size: 20px;
    color: #0a53be;
    text-align: center;
    margin: 0px;
}

.detail {
    padding: 10px 10px 0px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    color: #0f5132;
    text-indent: 2em;
    font-size: 10px;
}

.fenshu {
    text-align: center;
    margin: 2px 2px;
}

@media (max-width: 900px) {
    .flex {
        flex-direction: column;
    }

    .course {
        /*width: 80%;*/
        height: auto;
        margin: 10px;
    }
}

.img {
    height: 200px;
    width: 100%;
}

.info {
    margin-top: 20px;
    font-size: 20px;
    color: #0dcaf0;

}

a {
    text-decoration: none;
}

#loader {
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0; /*相对浏览器窗口定位*/
    display: flex;
    align-items: center;
    justify-content: center; /*内容水平垂直居中*/
    flex-direction: column;
    opacity: 1;
    transition: opacity 4s 1s;
}

.flex-col {
    display: flex;
    flex-direction: column;
}