body{
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}

*{
    /*border: 1px solid #aaa;*/
}
.title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.84);
}

.describe{
    width: 450px;
    height: 450px;
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: space-around;
    /*background-color:white;*/
    box-shadow: #ced4da 0px 0px 10px;
}

.map{
    width: 450px;
    height: 450px;
    margin: 10px;
    /*background-color: #ccc;*/
    /*    background-color:white;*/
    box-shadow: #ced4da 0px 0px 10px;
}

.brief{
    text-indent: 2em;
    color: #2c3034;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}


.tags{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tag{
    margin: 5px;
    border: #fdd446 1px solid;
    border-radius: 5px;
    padding: 0 8px;
    color: #0dcaf0;
    background-color: rgba(11,202,240,0.1);
    height: 40px;
    display: flex;
    align-items: center;/*垂直居中*/
    /*line-height: 40px;*/


}
#start{
    display: flex;
    text-decoration: none;
    font-size: 30px;
    background-color: white;

}

@media (max-width: 900px) {
    .content{
        flex-direction: column;
    }
}
