<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>路径搜索</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/搜索结果.css">
</head>
<body>
<div id="loader"><!--遮罩层-->
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
    </div>
    <p style="font-size: 20px">加载中...</p>
    <div>
    </div>

</div>
<p style="display: none" id="res">{{res}}</p>
<div class="center" style="margin-top: 80px">
    <h1>课程推荐</h1>
    <p>为了达到你的目标，请从下面的路径中选择一条吧</p>
</div>



<div class="flex">
    <a style="display: flex">
    <div class="course flex-col" id=1>
        <h2 class="course_name">大数据</h2>
        <p class="fenshu"><b class="score">4.5</b>分</p>
        <div class="detail">
            大数据的定义：高速(Velocity) 涌现的大量(Volume) 的多样化(Variety) 数据。 这一定义还表明大数据具有3V 特性。
            简而言之，大数据指非常庞大、复杂的数据集，特别是来自新数据源的数据集，其规模之大令传统数据处理软件束手无策，却能帮助我们解决以往非常棘手的业务难题
        </div>
        <div style="text-align: center">
            <img src="./assets/img/about/about-2.png" alt="" class="img">
        </div>
            </div>
        </a>
<a style="display: flex">
    <div class="course" id=2>
        <h2 class="course_name">大数据</h2>
        <p class="fenshu"><b class="score">4.5</b>分</p>
        <div class="detail">
            大数据的定义：高速(Velocity) 涌现的大量(Volume) 的多样化(Variety) 数据。 这一定义还表明大数据具有3V 特性。
            简而言之，大数据指非常庞大、复杂的数据集，特别是来自新数据源的数据集，其规模之大令传统数据处理软件束手无策，却能帮助我们解决以往非常棘手的业务难题
        </div>
        <div style="text-align: center">
            <img src="./assets/img/about/about-2.png" alt="" class="img">
        </div>
    </div>
</a>
    <a style="display: flex">
    <div class="course" id=3>
        <h2 class="course_name">大数据</h2>
        <p class="fenshu"><b class="score">4.5</b>分</p>
        <div class="detail">
            大数据的定义：高速(Velocity) 涌现的大量(Volume) 的多样化(Variety) 数据。 这一定义还表明大数据具有3V 特性。
            简而言之，大数据指非常庞大、复杂的数据集，特别是来自新数据源的数据集，其规模之大令传统数据处理软件束手无策，却能帮助我们解决以往非常棘手的业务难题
        </div>
        <div style="text-align: center">
            <img src="./assets/img/about/about-2.png" alt="" class="img">
        </div>
    </div>
</a>
</div>

<div class=" flex info">
    <a href="#">想要更精准的推荐？</a>
</div>
<script type="text/javascript" src="../assets/js/搜索结果.js"></script>


</body>
</html>