<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程简介</title>
    <script src="../assets/js/echarts.js"></script>
    <link rel="stylesheet" href="../assets/css/课程简介.css">
</head>
<body>
<p id="res" style="display: none">{{res}}</p>
<p id="data" style="display: none">{{data}}</p>
<p id="links" style="display: none">{{links}}</p>
<p id="id" style="display: none">{{id}}</p>

<div class="title">
</div>

<div class="content">
    <div class="describe">
        <div class="brief">

        </div>
        <div class="tags">
            <div class="tag"></div>
        </div>
    </div>
    <div class="map" id="main">map</div>
</div>

<div class="info">
<!--    点击<span style="color: #fd7e14">橙色</span>按钮开始学习-->
        <a id="start">开始学习</a>
</div>

<script >
    const cid = document.getElementById('id').innerText
    const start = document.getElementById('start')
    start.href = '/study?id='+cid
    // const res = document.getElementById('res').innerText.replace(/'/g, '"');
    // const data = document.getElementById('data').innerText.replace(/'/g, '"');
    // const links = document.getElementById('links').innerText.replace(/'/g, '"');
    // const res_j = JSON.parse(res);
    // const title = document.getElementsByClassName('title')
    // const brief = document.getElementsByClassName('brief')
    // const tags = document.getElementsByClassName('tags')
    // const map = document.getElementsByClassName('map')
    // const tag = document.getElementsByClassName('tag')
    //
    // title[0].innerText = res_j.course_name;
    // brief[0].innerText = res_j.course_description;
    // tag[0].innerText = '学习时长:'+res_j.duration+'min';


</script>

<script type="text/javascript" src="../assets/js/课程简介.js"></script>
</body>
</html>